       <!-- Footer -->
       <footer class="py-5 bg-dark" style="margin-top:20px;">
        <div class="container">
          <p class="m-0 text-center text-white" style="margin-bottom: 13px !important;">Copyright &copy; AngularBlog 2017</p>
          <form class="form-inline my-2 my-lg-0 m-0 text-center text-white" style="display: inherit;">
            <button class="btn btn-outline-primary my-2 my-sm-0 social-spacing"><i class="fa fa-facebook" aria-hidden="true"></i></button>
            <button class="btn btn-outline-success my-2 my-sm-0 social-spacing"><i class="fa fa-whatsapp" aria-hidden="true"></i></button>
            <button class="btn btn-outline-danger my-2 my-sm-0 social-spacing"><i class="fa fa-youtube" aria-hidden="true"></i></button>
          </form>
        </div>
        <!-- /.container -->
      </footer>