.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
#container{
  margin-top: 50px;
}

.hoverClass{
   text-decoration-line: none;
   color: black;
   font-weight: bold;
   font-size: 10px;
   font-family: malayalam;
   }
.hoverClass :hover{
  color: red;
}