<div id="container">
        <app-image-slider></app-image-slider>
</div>



    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Welcome To AngularBlog</h1>
        <p class="lead blog-description">An example blog to demonstrate angular4 and bootstrap.</p>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

<h2>Latest Topics</h2>
          <div class="row">
      
      <article class="col-md-6 col-sm-6 card" style="padding: 25px;">
  <a href="/blog/2016/10/19/Overview-of-JavaScript-ES6-features-a-k-a-ECMAScript-6-and-ES2015/" class="hoverClass">
    <div style="text-align: center;margin-bottom: 20px;">    
      <img src="assets/icons/1.jpg" width="150" height="150">
    </div>
      <section class="p-a-1">
        <h3>Android was intended to be very customizable. And we welcome innovations.</h3>
      </section>
    
  </a>
</article>

      
      <article class="col-md-6 col-sm-6 card" style="padding: 25px;">
  <a href="/blog/2016/10/01/Angular-2-Tutorial-Create-a-CRUD-App-with-Angular-CLI-and-TypeScript/"  class="hoverClass">
    <div style="text-align: center;margin-bottom: 20px;">
      <img src="assets/icons/2.png" width="150" height="150">
    </div>
      <section class="p-a-1">
        <h3>I'm a Macintosh nut. I got my PowerBook, so if I'm not writing jokes, I'm working on that.</h3>
      </section>
    
  </a>
</article>

      
      <article class="col-md-6 col-sm-6 card" style="padding: 25px;">
  <a href="/blog/2016/08/24/Building-a-Node-js-static-file-server-files-over-HTTP-using-ES6/"  class="hoverClass">
    <div style="text-align: center;margin-bottom: 20px;">    
      <img src="assets/icons/3.png" width="150" height="150">
    </div>
      <section class="p-a-1">
        <h3>The whole purpose of education is to turn mirrors into windows.</h3>
      </section>
    
  </a>
</article>

      
      <article class="col-md-6 col-sm-6 card" style="padding: 25px;">
        <a href="/blog/2016/08/19/Node-Package-Manager-NPM-Tutorial/"  class="hoverClass">
    <div style="text-align: center;margin-bottom: 20px;">    
      <img src="assets/icons/4.png" width="150" height="150">
    </div>
      <section class="p-a-1">
        <h3>We all love Linux, but it's also a fact that some people might not be able to migrate.</h3>
      </section>
    
  </a>
</article>

      
    </div>
          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->