<app-header [data]=data></app-header>

<div style="margin: 80px 80px 0 80px">

<h2>My Image Gallery</h2>
<h5  style="margin-bottom: 50px">check it out... latest technology overview.</h5>

<div class="responsive">
  <div class="gallery"> 
    <a target="_self" href="assets/gallery/3.jpg">
      <img src="assets/gallery/3.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Technological World</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_self" href="assets/gallery/2.jpg">
      <img src="assets/gallery/2.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">DNA Storage cutting edge.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_self" href="assets/gallery/4.jpg">
      <img src="assets/gallery/4.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Muisic is my passion.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_self" href="assets/gallery/5.jpg">
      <img src="assets/gallery/5.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Always I am a guitarist</div>
  </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;"> </div>

<div class="responsive">
  <div class="gallery">
    <a target="_self" href="assets/gallery/1.jpg">
      <img src="assets/gallery/1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Seience is everything</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_self" href="assets/gallery/6.png">
      <img src="assets/gallery/6.png" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Take your ES6 code babel is there!!</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_self" href="assets/gallery/7.jpg">
      <img src="assets/gallery/7.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">More over binary is everything</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_self" href="assets/gallery/8.jpg">
      <img src="assets/gallery/8.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">I am a front end developer..</div>
  </div> 
</div>

<div class="clearfix"></div>






   <footer class="text-muted" style="margin-top:50px">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>